<span style='color: Rgb(255,160,40); font-size: 48px'> Python with BQNT<img src='logo.png' height='48' width='200' align='right' style="padding: 20px"> </span> <br>
<span style='color: grey; font-size: 13px'> Information in this tutorial has been collected from various sources and condensed into a single notebook. 
 </span>

### Pandas ###

Pandas = Python Data Analysis Library (actually it's coming from PANelDAta)

Built on top of Numpy, it provides even more convenient data structures (mainly Series and DataFrame). Python can now compete with R and its dataframes!

Import Pandas (```pd``` is a conventional abbreviation for pandas)

```python
import pandas as pd
```

#### Pandas DataFrame ####

**DataFrame** is a 2D table with labelled axes (both rows and columns). Think of it as a collection of ```Series``` or a database table.

** Creating DataFrame **

You may create DataFrame from ```list```, ```dict```, JSON, CSV, Excel, etc.

*Try this:* 

From ```dict```. Note your column may be in a different order. You may specify ```columns=['name', 'age']``` parameter.

```python
data = {
    'name': ['Paul', 'Georges', 'Ringo'],
    'ages': [22, 21, 23]
}
pd.DataFrame(data)
```

In [6]:
import pandas as pd

In [7]:
# Type code here
data = {
    'name': ['Paul', 'Georges', 'Ringo'],
    'ages': [22, 21, 23]
}
pd.DataFrame(data)

      name  ages
0     Paul    22
1  Georges    21
2    Ringo    23

*Try this:* 
    
From ```list```

```python
pd.DataFrame([["Paul", 22], ["Georges", 21], ["Ringo", 23]], columns=["Name", "Age"])
```

In [8]:
# Type code here
pd.DataFrame([["Paul", 22], ["Georges", 21], ["Ringo", 23]], columns=["Name", "Age"])

      Name  Age
0     Paul   22
1  Georges   21
2    Ringo   23

*Try this:* 

From CSV (CAC + TPXC30 + DJIA data as of 6 July 2017)

```python
df = pd.read_csv("stock_data.csv")
```

In [9]:
# Type code here
df = pd.read_csv("stock_data.csv")
df

,Ticker,Currency,Name,Industry,Close,1YR TR,5YR TR
0,AIR FP Equity,EUR,AIRBUS SE,Aerospace & Defense,73.910,55.446760,23.546960
1,SAF FP Equity,EUR,SAFRAN SA,Aerospace & Defense,81.890,45.419720,26.576310
2,BA UN Equity,USD,BOEING CO/THE,Aerospace & Defense,201.810,64.156520,25.527950
3,UTX UN Equity,USD,UNITED TECH CORP,Aerospace & Defense,122.790,24.007990,13.277350
4,6902 JT Equity,JPY,DENSO CORP,Auto Components,4793.000,46.556520,14.945050
5,FR FP Equity,EUR,VALEO SA,Auto Components,59.510,57.857790,43.137690
6,ML FP Equity,EUR,MICHELIN,Auto Components,117.900,46.417150,22.168880
7,7201 JT Equity,JPY,NISSAN MOTOR CO,Automobiles,1139.000,28.872010,12.712030
8,7203 JT Equity,JPY,TOYOTA MOTOR,Automobiles,6107.000,24.853180,16.950280
9,7267 JT Equity,JPY,HONDA MOTOR CO,Automobiles,3094.000,29.197850,5.344449
10,RNO FP Equity,EUR,RENAULT SA,Automobiles,79.840,26.955030,23.455770
11,UG FP Equity,EUR,PEUGEOT SA,Automobiles,17.895,75.254690,25.637310
12,8306 JT Equity,JPY,MITSUBISHI UFJ F,Banks,761.200,80.830310,17.322940
13,8316 JT Equity,JPY,SMFG,Banks,4410.000,62.781810,14.617260
14,8411 JT Equity,JPY,MIZUHO FINANCIAL,Banks,207.600,50.910480,13.346740
15,ACA FP Equity,EUR,CREDIT AGRICOLE,Banks,14.645,115.319700,37.693050
16,BNP FP Equity,EUR,BNP PARIBAS,Banks,64.470,75.200550,21.352680
17,GLE FP Equity,EUR,SOC GENERALE SA,Banks,49.000,94.355450,26.914060
18,JPM UN Equity,USD,JPMORGAN CHASE,Banks,93.680,59.385300,25.852540
19,RI FP Equity,EUR,PERNOD RICARD SA,Beverages,117.000,21.812050,8.818590
20,KO UN Equity,USD,COCA-COLA CO/THE,Beverages,44.820,2.395373,5.972389
21,SGO FP Equity,EUR,SAINT GOBAIN,Building Products,47.655,50.219240,14.530720
22,GS UN Equity,USD,GOLDMAN SACHS GP,Capital Markets,228.040,58.682530,20.665110
23,4063 JT Equity,JPY,SHIN-ETSU CHEM,Chemicals,9875.000,67.929960,19.670990
24,AI FP Equity,EUR,AIR LIQUIDE SA,Chemicals,108.650,27.389010,9.137428
25,SOLB BB Equity,EUR,SOLVAY SA-A,Chemicals,120.450,55.133750,14.248930
26,DD UN Equity,USD,DU PONT (EI),Chemicals,81.220,34.038410,14.923380
27,NOKIA FP Equity,EUR,NOKIA OYJ,Communications Equipment,5.467,18.193110,NaN
28,CSCO UW Equity,USD,CISCO SYSTEMS,Communications Equipment,31.110,12.151190,16.806930
29,DG FP Equity,EUR,VINCI SA,Construction & Engineering,75.340,24.619250,20.446870
...,...,...,...,...,...,...,...
70,ENGI FP Equity,EUR,ENGIE,Multi-Utilities,13.285,1.464604,1.179361
71,VIE FP Equity,EUR,VEOLIA ENVIRONNE,Multi-Utilities,18.580,3.581049,21.043100
72,FP FP Equity,EUR,TOTAL SA,"Oil, Gas & Consumable Fuels",43.325,9.511439,9.716081
73,CVX UN Equity,USD,CHEVRON CORP,"Oil, Gas & Consumable Fuels",104.620,4.136133,3.810662
74,XOM UN Equity,USD,EXXON MOBIL CORP,"Oil, Gas & Consumable Fuels",80.850,-10.929480,2.174617
75,OR FP Equity,EUR,L'OREAL,Personal Products,181.500,8.024338,16.528470
76,4502 JT Equity,JPY,TAKEDA PHARMACEU,Pharmaceuticals,5668.000,33.989730,13.571430
77,4503 JT Equity,JPY,ASTELLAS PHARMA,Pharmaceuticals,1375.000,-11.724400,17.010270
78,SAN FP Equity,EUR,SANOFI,Pharmaceuticals,84.220,17.985370,10.870840
79,JNJ UN Equity,USD,JOHNSON&JOHNSON,Pharmaceuticals,133.640,11.909300,17.954180
80,MRK UN Equity,USD,MERCK & CO,Pharmaceuticals,64.160,11.720220,12.759220
81,PFE UN Equity,USD,PFIZER INC,Pharmaceuticals,33.640,-2.546640,12.214460
82,8801 JT Equity,JPY,MITSUI FUDOSAN,Real Estate Management & Devel,2638.500,22.842490,13.056420
83,8802 JT Equity,JPY,MITSUBISHI ESTAT,Real Estate Management & Devel,2058.000,13.791670,8.770553
84,9020 JT Equity,JPY,EAST JAPAN RAIL,Road & Rail,10740.000,13.172650,18.148660
85,9022 JT Equity,JPY,CENTRAL JAPAN RL,Road & Rail,18005.000,0.279088,24.370490
86,INTC UW Equity,USD,INTEL CORP,Semiconductors & Semiconductor,34.340,7.287817,9.146087
87,MSFT UW Equity,USD,MICROSOFT CORP,Software,69.080,37.780540,21.264700
88,HD UN Equity,USD,HOME DEPOT INC,Specialty Retail,152.690,18.667530,26.580710
89,7751 JT Equity,JPY,CANON INC,"Technology Hardware, Storage &",3784.000,35.692430,7.915777
90,AAPL UW Equity,USD,APPLE INC,"Technology Hardware, Storage &",144.090,53.713890,12.986980
91,KER FP Equity,EUR,KERING,"Textiles, Apparel & Luxury Goo",303.500,114.993900,25.128540
92,MC FP Equity,EUR,LVMH MOET HENNE,"Textiles, Apparel & Luxury Goo",221.800,70.911290,17.830300
93,NKE UN Equity,USD,NIKE INC -CL B,"Textiles, Apparel & Luxury Goo",57.560,4.485293,21.803540
94,2914 JT Equity,JPY,JAPAN TOBACCO,Tobacco,3868.000,-6.600924,13.998320
95,8031 JT Equity,JPY,MITSUI & CO,Trading Companies & Distributo,1609.000,37.663200,9.848548
96,8058 JT Equity,JPY,MITSUBISHI CORP,Trading Companies & Distributo,2383.000,38.238880,10.976230
97,9433 JT Equity,JPY,KDDI CORP,Wireless Telecommunication Ser,2988.000,-5.899152,30.899870
98,9437 JT Equity,JPY,NTT DOCOMO INC,Wireless Telecommunication Ser,2644.000,-5.470530,18.942730
99,9984 JT Equity,JPY,SOFTBANK GROUP C,Wireless Telecommunication Ser,8960.000,60.605750,26.313730

** Explore the data **

*Try this:*

```python
df.head()
df.tail(3)
df.T
df.shape
df.size
df.describe()
df.info()
df["Currency"].value_counts()
```

In [10]:
# Type code here
df["Currency"] = df["Currency"].astype('category')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 7 columns):
Ticker      100 non-null object
Currency    100 non-null category
Name        100 non-null object
Industry    100 non-null object
Close       100 non-null float64
1YR TR      99 non-null float64
5YR TR      97 non-null float64
dtypes: category(1), float64(3), object(3)
memory usage: 5.0+ KB

** Index **

*Try this:*

```python
df.index
df.columns
```

In [11]:
# Type code here
df.columns

Index(['Ticker', 'Currency', 'Name', 'Industry', 'Close', '1YR TR', '5YR TR'], dtype='object')

*Try this:* 

Note 'Ticker' is not in the columns but is the index. Therefore the below would fail:

```python
df['Ticker']
```

In [12]:
# Type code here

*Try this:* 

To look up if a ticker is available:

```python
'AAPL UW Equity' in df.index
```

In [13]:
# Type code here
'AAPL UW Equity' in df.index

False


*Try this:* 

What does ```reset_index()``` and ```set_index()``` do?

```python
df.reset_index()
```

In [14]:
# Type code here
df.reset_index().set_index('Ticker').head()

,index,Currency,Name,Industry,Close,1YR TR,5YR TR
Ticker,,,,,,,
AIR FP Equity,0,EUR,AIRBUS SE,Aerospace & Defense,73.91,55.44676,23.54696
SAF FP Equity,1,EUR,SAFRAN SA,Aerospace & Defense,81.89,45.41972,26.57631
BA UN Equity,2,USD,BOEING CO/THE,Aerospace & Defense,201.81,64.15652,25.52795
UTX UN Equity,3,USD,UNITED TECH CORP,Aerospace & Defense,122.79,24.00799,13.27735
6902 JT Equity,4,JPY,DENSO CORP,Auto Components,4793.00,46.55652,14.94505